@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');



/* general styling */
body {
  /* background styling */
  background: url('../images/ironman.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

main {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  text-shadow: #D10016 3px 0 10px;
}

div.container {
  width: 85%;
  max-width: 960px;
  margin: auto;
  margin-top: 40px;
}

p {
  text-align: center;
  padding: 10px;
}

/* //title styling */
img.logo {
  width: 200px;
  margin-right: 20px;
}

h2.title {
  text-align: center;
  font-size: 40px;
}

h2.inline {
  display: inline; 
}


/* changing styling */
button.playButton {
  padding: 5px 4px;
  background-color: #D10016;
  color: #CAC9D9;
  font-weight: 800;
  font-size: 80px;
  letter-spacing: -.06em;
  margin-top: 10%;
  border: none;
}

.hide-init {
  display: none;
}

p.instructions {
  margin: 30px;
}

/* score styling  */
div.scorecard {
  width: 33%;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
}

p.win {
  float: left;
}

p.loss {
  float: right;
}

/* guesses styling */
div.group {
  max-width: 250px;
}

div.guess-number {
  float: left;
  position: relative;
  bottom: 100px;
}


div.letters {
  float: right;
  position: relative;
  bottom: 100px;
}

div.changing {
  position: relative;
  top: 150px;
}

div.word-to-guess {
  clear: both;
  font-size: 1.5em;
  margin: auto;
  position: relative;
  bottom: 50px;
}

p#guess {
  word-spacing: 10px;
  letter-spacing: 3px;
}

/* media queries for a responsive page*/
/* styling for screens <1000px  */
@media screen and (max-width: 1000px) {
  div.guess-number, div.letters {
    max-width: none;
    width: 50%;
  }

  div.word-to-guess {
    clear: both;
    width: 100%;
    bottom: 0px;
    margin-bottom: 30px;
  }

  p#guesses-left, p#guessed-letters {
    margin-top: 0;
  }
}

/* styling for screens 640px */
@media screen and (max-width: 640px){
  .sm-span {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  div.letters, div.guess-number {
    position: unset;
    bottom: 0;
    float: none;
    width: 100%;
  }

  div.changing {
    top: 50px;
  }

  p.win, p.loss {
    float: none;
  }
}